<li><a href="<%= context.url %>" title="<%= context.title %>">
  <span class="blog-list-title"><%= context.title %></span><br>
  <span class="blog-list-meta"><%= context.author %> | <%= context.published_at.toDateString() %></span>
</a></li>