<li class="blog-list-item"><a href="<%= context.url %>" title="<%= context.title %>">
  <% if (context.draft) { %>[DRAFT]<% } %>
  <span class="blog-title"><%= context.title %></span><br>
  <% if (context.subtitle) { %><span class="blog-subtitle"><%= context.subtitle %></span><br><% } %>
  <%- include('_blog_meta', {context: context}); %>
</a></li>