<%

context = {...context,
  bundle: [...context.bundle, "blog"],
  body_class: ['has-background', ...(context.tags ? context.tags.map(tag => `tag-${tag}`) : [])].join(" ")
};

%><%- include('_header', { context: context }); %>

<header class="blog-header">
  <!-- <img class="blog-background" src="<%= context.background %>"> -->
  <h2 class="blog-title"><%= context.title %></h2>
  <% if (context.subtitle) { %><h3 class="blog-subtitle"><%= context.subtitle %></h3><% } %>
  <%- include('_avatar', { context: context }); %>
  <%- include('_blog_meta', { context: context }); %>
</header>

<div class="blog-content">
  <% if (context.next || context.previous) { %>
    <%- include('_blog_pagination', { context: context }); %>
  <% } %>

  <%- context.content %>

  <% if (context.next || context.previous) { %>
    <%- include('_blog_pagination', { context: context }); %>
  <% } %>
</div>

<%- include('_footer', { context: context }); %>
