<%

context = {...context,
  bundle: [...context.bundle, "blog"],
  background: true,
};

%><%- include('_header', {context: context}); %>

<header class="blog-header">
  <!-- <img class="blog-background" src="<%= context.background %>"> -->
  <h2 class="blog-title"><%= context.title %></h2>
  <%- include('_avatar', {context: context}); %>
  <%- include('_blog_meta', {context: context}); %>
</header>

<div class="blog-content">

    <%- context.content %>
  
</div>

<%- include('_footer', {context: context}); %>