    </div>
    
    <footer>
      &copy; <small><%= (new Date()).getFullYear() %> Antal Orcsik All Rights Reserved</small><br>
    </footer>
  </div>
      
  <% context.bundle.forEach(bundle => { %>
    <script src="/<%= bundle %>.bundle.js?_=<%= (new Date()).getTime()%>"></script>
  <% }); %>
  <% if (context.preview) { %>
    <script src="/preview.bundle.js?_=<%= (new Date()).getTime()%>"></script>
  <% } %>
  <script src="/runtime.bundle.js?_=<%= (new Date()).getTime()%>"></script>
</body>
</html>
