<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= context.title %><% if (context.subtitle) { %> - <%= context.subtitle %><% } %> | aorcsik.com</title>
  <meta name="description" content="<%= context.description %>">
  <link rel="canonical" href="<%= context.basePath %><%= context.path %>">

  <meta property="og:title" content="<%= context.title %><% if (context.subtitle) { %> - <%= context.subtitle %><% } %>">
  <meta property="og:url" content="<%= context.basePath %><%= context.path %>">
  <meta property="og:description" content="<%= context.description %>">
  <% if (context.image) { %><meta property="og:image" content="<%= context.image %>"><% } %>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@aorcsik">
  <meta name="twitter:creator" content="@aorcsik">
  <meta name="twitter:title" content="<%= context.title %><% if (context.subtitle) { %> - <%= context.subtitle %><% } %>">
  <meta name="twitter:description" content="<%= context.description %>">
  <% if (context.image) { %><meta name="twitter:image" content="<%= context.image %>"><% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="<%= context.favicon %>">
  <link rel="mask-icon" href="<%= context.favicon %>" color="#000000">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  
  <script src="https://kit.fontawesome.com/c39a0791cd.js" crossorigin="anonymous"></script>
  
  
  <% context.bundle.forEach(bundle => { %>
    <link rel="stylesheet" href="/<%= bundle %>.bundle.css?_=<%= (new Date()).getTime()%>">
  <% }); %>
  
  <% if (!context.preview) { %>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','<%= context.gtmID %>');</script>
  <!-- End Google Tag Manager -->
  <% } %>
</head>
<% if (context.body_class) { %>
<body class="<%= context.body_class %>">
<% } else { %>
<body>
<% } %>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= context.gtmID %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    
  <input type="checkbox" id="menu-toggle">
  <header id="header">
    <div class="container">
      <h1 id="logo">
        <a href="/"><span class="logo-head">&nbsp;</span><span class="logo-tail">aorcsik.com</span></a>
      </h1>
      <label id="menu-toggle-button" for="menu-toggle"><i class="fa-regular fa-bars"></i></label>
      <nav>    
        <ul>
          <li><span><i class="fa-solid fa-rocket"></i> projects</span>
            <ul>
              <li><a href="/pixelart.html">PixelArt</a></li>
              <!-- <li><a href="https://aorcsik.github.io/gofri/" target="_blank">Gofri</a></li> -->
            </ul>
          </li>
          <li class="separator"></li>
          <li><span><i class="fa-solid fa-gamepad-modern"></i> games</span>
            <ul>
              <li><a href="/blog/elden-ring.html">Elden Ring</a></li>
            </ul>
          </li>
          <li class="separator"></li>
          <li class="social">
            <a href="https://twitter.com/aorcsik" target="_blank" title="X (Twitter)"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://github.com/aorcsik" target="_blank" title="GitHub"><i class="fa-brands fa-github"></i></a>
            <a href="https://linkedin.com/in/aorcsik" target="_blank" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
          </li>
        </ul>
      </nav>
      <div id="read-progress"></div>
    </div>
  </header>
  
  <div class="container">
    <div id="content">
